Repository MicrosoftDocs/quantum-api, pull requests merged in 2025-03, with the labels that each got.

#149 author names
  api/docfx.json
  api/index.md
  api/qsharp-lang/Microsoft.Quantum.Core/index.md
  api/qsharp-lang/Std.Arithmetic/index.md
  api/qsharp-lang/Std.Arrays/index.md
  api/qsharp-lang/Std.Canon/index.md
  api/qsharp-lang/Std.Convert/index.md
  api/qsharp-lang/Std.Core/index.md
  api/qsharp-lang/Std.Diagnostics/index.md
  api/qsharp-lang/Std.Intrinsic/index.md
  api/qsharp-lang/Std.Logical/index.md
  api/qsharp-lang/Std.Math/index.md
  api/qsharp-lang/Std.Measurement/index.md
  api/qsharp-lang/Std.Random/index.md
  api/qsharp-lang/Std.Range/index.md
  api/qsharp-lang/Std.ResourceEstimation/index.md
  api/qsharp-lang/Std.StatePreparation/index.md
  api/qsharp-lang/Std.TableLookup/index.md
  api/qsharp-lang/index.md
Labels: do-not-merge, needs-human-review, Change sent to author, qsharp/svc

#150 3/24/2025 PM Publish
  api/docfx.json
  api/index.md
  api/qsharp-lang/Microsoft.Quantum.Core/index.md
  api/qsharp-lang/Std.Arithmetic/index.md
  api/qsharp-lang/Std.Arrays/index.md
  api/qsharp-lang/Std.Canon/index.md
  api/qsharp-lang/Std.Convert/index.md
  api/qsharp-lang/Std.Core/index.md
  api/qsharp-lang/Std.Diagnostics/index.md
  api/qsharp-lang/Std.Intrinsic/index.md
  api/qsharp-lang/Std.Logical/index.md
  api/qsharp-lang/Std.Math/index.md
  api/qsharp-lang/Std.Measurement/index.md
  api/qsharp-lang/Std.Random/index.md
  api/qsharp-lang/Std.Range/index.md
  api/qsharp-lang/Std.ResourceEstimation/index.md
  api/qsharp-lang/Std.StatePreparation/index.md
  api/qsharp-lang/Std.TableLookup/index.md
  api/qsharp-lang/index.md
Labels: do-not-merge, Change sent to author, qsharp/svc

#151 Update docfx.json
  api/docfx.json
Labels: do-not-merge, review-team-triage
